.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes button {
    margin-right: 1rem;
}